<section class="top_slider_area">
    <div id="" class="rev_slider" style="background: url('/assets/home-slider/slider-1.jpg') no-repeat center center / cover; height: 100vh" >
            <!-- MAIN IMAGE -->
<!--         <img src="/assets/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->
            <!-- LAYER NR. 1 -->
        <div class="top_slider_text_box">
            <div class="top_slider_text_box_inn" style="">
                About 
                <span style="color:rgb(1, 123, 251)">C<i class="fa fa-cog fa-spin" style="font-size: 40px;"></i>DE GARAGE</span>
                <!-- <h2 style="color:gainsboro; font-size: 20px">About Us</h2> -->
                <!-- <h2 style="color:gainsboro; font-size: 20px">We guarantee you’ll be delighted with what we can do for you!</h2> -->
            </div>

            <!-- <div class="top_slider_text_box_inn"> -->
                <!-- <a class="bg_btn" href="#">About Us</a> -->
                <!-- <a class="tp_btn" href="#">Get a quote</a> -->
            <!-- </div> -->
        </div>
    </div>
</section>
<!--================End Slider Area =================-->

<!--================Creative Feature Area =================-->
<section class="creative_feature_area">
    <div class="container">
        <div class="digital_feature p_100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d_feature_text">
                        <div class="main_title">
                            <h2>About Us</h2>
                        </div>
                        <p>Code Garage is a web-based solutions provider company. We are expert and best service provider in NodeJs, ROR, PHP, Android and Internet Marketing. Code Garage takes pride in its committed, competent and certified IT experts with comprehensive experience in diversified domains. They are your team in India that can bring value to any business in the globe. The Code Garage workforce believes that above all else, honest service is imperative to the success of any service provider-client relationship.</p>
                        <p>When you understand technology the way we do, why restrain yourself to the server side? In this quick evolving world, we require intelligent websites that are quick and responsive to all situations. Just a firmly incorporated group with exceptionally learned developers can convey in high caliber at the speed you require.</p>
                        <a class="read_btn" href="#">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d_feature_img">
                        <img src="/assets/about-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Creative Feature Area =================-->

<!--================Industries Area =================-->
<!-- <section class="industries_area">
    <div class="left_indus">
        <div class="indus_img">
            <img src="/assets/indus-laptop.png" alt="">
        </div>
    </div>
    <div class="right_indus">
        <div class="indus_text">
            <div class="main_title">
                <h2>We Serve All Industries</h2>
                <p>We stay on top of our industry by being experts in yours. We measure our success by the results we drive for our clients.</p>
            </div>
            <div class="our_skill_inner">
                <div class="single_skill">
                    <h3>Website Design</h3>
                    <div class="progress" data-value="90">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Brand Strategy</h3>
                    <div class="progress" data-value="95">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">95</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Digital Marketing</h3>
                    <div class="progress" data-value="85">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">85</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Website Development</h3>
                    <div class="progress" data-value="90">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="read_btn" href="#">Work with us</a>
        </div>
    </div>
</section> -->
<!--================End Industries Area =================-->

<!--================Our Service Area =================-->
<section class="service_area" style="background: url(/assets/2.jpg) no-repeat fixed center center / cover;">
    <div class="container">
        <div class="center_title">
            <h1>Get the Top 1% Ruby Talent - RoR Development Teams‎</h1>
            <p>We’re in business just like you - we know how stressful it can be to work on projects with outside vendors, especially when large budgets are involved.</p>
        </div>
        <div class="row service_item_inner">
            
        </div>
    </div>
</section>
<!--================End Our Service Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_100">
    <div class="container">
        <div class="b_center_title">
            <h2>What We Do</h2>
            <p>We combine a group of our skilled/expert developers with your current development or business team to build new or keep up existing Ruby language based products.Our common stack additionally incorporates Ruby on Rails, Linux based frameworks, cloud services, databases, key/esteem stores, JavaScript with frameworks, and CSS.</p>
        </div>
        <div class="b_center_title">
            <h2>How We Do It</h2>
            <p>We analyze your team experience, organizational structure, existing workflows, product requirements, and goals.</p>
            <p>We design a software development process for proficient, practical development while coordinating a group for your scale as a custom-made fit.</p>
            <p>We like Agile + Scrum with BDD and CI, however we only utilize what works for you. </p>
            <p>We comprehend on location gatherings are occasionally required and we'll be there when you require us.</p>
        </div>
    </div>
</section>
<!--================End Testimonials Area =================-->

<!--================Project Area =================-->
<section class="project_area">
    <div class="container">
        <div class="center_title">
            <h2>Our Plan For Your Success</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
        <div class="row service_item_inner">
            <div class="col-lg-4">
                <div class="service_item">
                    <!-- <i class="ti-ruler-pencil"></i> -->
                    <!-- <h4>Ruby on Rails</h4> -->
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <h4><b>Weekly Reports</b></h4>
                    <p>Send weekly status reports and budget updates so there are no surprises.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <h4><b>Use Experts</b></h4>
                    <p>Use expert Ruby on Rails developers based in Boulder, CO to write great code.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h4><b>Available</b></h4>
                    <p>Be available after you launch to support your business into the future.</p>
                </div>
            </div>
        </div>
        <!-- <div class="project_inner">
            <div class="center_title">
                <h2>Ready To Discuss Your Project? </h2>
                <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
            </div>
            <a class="tp_btn" href="#">WORK WITH US</a>
        </div> -->
    </div>
</section>
<!--================End Project Area =================-->

<!--================Latest News Area =================-->
<section class="latest_news_area p_100">
    <div class="container">
        <div class="b_center_title">
            <h2>Hire expert ROR developers-Experienced Team, Flexible Models.</h2>
            <p>Get inspire with powerful web development services of Ruby On Rails.</p>
        </div>
        <a class="read_btn" style="margin: auto;" href="#">WORK WITH US</a>
    </div>
</section>