<!-- <head> -->
	<style type="text/css">
		.mar-bottom{
			margin-bottom: 100px;
		}

	</style>
<link href="/assets/style_port.css" rel="stylesheet">
	
<!-- </head> -->
<section id="service" class="section-padding wow fadeInUp delay-05s animated" style="visibility: visible; animation-name: fadeInUp; color: white; ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center" style="margin-top: 125px;">
            <h2 class="service-title pad-bt15">Technologies being used:</h2>
            <p class="sub-title pad-bt15" style="text-align: justify;">We provide high quality comprehensive services to enterprises across a wide range of platforms and technologies. Our major areas of expertise are in providing quality, cost effective software or web/Mobile app development. At Code Garage, diverse groups have been striving earnestly to understand client necessities all through the globe in different IT sectors, and have been dynamic in their techniques.Below are some of our services we are specialized in:</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mar-bottom" >
            <div class="service-item">
            	<img src="https://png.icons8.com/dusk/100/2980b9/internet.png" height="108px">

              <h3><span>W</span>eb <br>Solutions </h3>
              <p>We have developed many solutions for different kind of firms and companies. Apps could be on any scale. we have developed effective systems that helps people. We use:
              	<br><br><img src="https://png.icons8.com/ultraviolet/18/2980b9/ruby-programming-language.png"> Ruby On Rails
              	<br> <img src="https://png.icons8.com/ios/18/2980b9/react-native-filled.png">ReactJs
              	<br><img src="https://png.icons8.com/office/18/2980b9/php-logo.png"> Php/Laravel/CodeIgniter<br>
              	 <img src="/assets/jng4.png" height="16px"> Django<br>
              	 <img src="/assets/flask.png" height="16px"> Flask
        		 <br>MEAN Stack Applications
        		<br> <img src="https://png.icons8.com/office/18/2980b9/js.png">AngularJs
        		<br><img src="https://png.icons8.com/dusk/18/2980b9/database.png">Big Data
        		<br><img src="/assets/had.png" height="17px" width="18px">Hadoop
	
	              </p>

              <!-- <a href="">learn more...</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mar-bottom">
            <div class="service-item">
            	<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
			     width="100" height="100"
			     viewBox="0 0 252 252"
			     style="fill:#2980b9;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g id="Layer_1"><g><g fill="#ffffff"><path d="M145.6875,244.125v-21.65625c0,-7.67813 2.95313,-14.9625 8.07187,-20.475l53.35313,-56.50312c7.48125,-7.875 7.0875,-20.27813 -0.7875,-27.75938c-7.875,-7.48125 -20.27812,-7.0875 -27.75937,0.7875l-26.57812,27.95625c2.55937,-3.54375 5.11875,-6.89062 7.875,-10.2375l49.41563,-57.09375c7.875,-9.05625 6.89063,-22.64063 -2.16562,-30.51563c-9.05625,-7.875 -22.64062,-6.89062 -30.51562,2.16563l-49.41562,57.09375c-1.18125,1.37813 -2.3625,2.75625 -3.54375,4.33125c3.34688,-6.10313 7.0875,-12.20625 11.22188,-17.91563l36.42187,-52.36875c6.89063,-9.84375 4.33125,-23.23125 -5.31563,-30.12188c-9.84375,-6.89062 -23.23125,-4.33125 -30.12187,5.31562l-36.61875,52.36875c-1.96875,2.95313 -3.9375,5.90625 -5.90625,8.85938l20.27813,-38.98125c5.5125,-10.63125 1.37812,-23.625 -9.25313,-29.1375c-10.63125,-5.5125 -23.625,-1.37813 -29.1375,9.25312l-20.27813,39.17813c-13.78125,26.38125 -22.8375,54.92813 -26.775,84.2625v107.1"></path><path d="M28.54688,244.125c-10.82812,-46.06875 7.0875,-84.65625 36.81563,-117.92812l8.26875,-9.25313c6.49688,-7.28437 17.71875,-8.07188 25.00313,-1.575c7.28437,6.49688 8.07188,17.71875 1.575,25.00312l-8.46563,9.25313c-22.24688,25.00313 -20.475,49.21875 -5.70937,74.8125h59.65312v25.59375h-116.15625z"></path></g><path d="M28.54688,244.125c-10.82812,-46.06875 7.0875,-84.65625 36.81563,-117.92812l8.26875,-9.25313c6.49688,-7.28437 17.71875,-8.07188 25.00313,-1.575c7.28437,6.49688 8.07188,17.71875 1.575,25.00312l-8.46563,9.25313c-22.24688,25.00313 -20.475,49.21875 -5.70937,74.8125h59.65312v25.59375h-116.15625z" fill="#ffffff"></path><path d="M145.6875,250.03125c-3.34688,0 -5.90625,-2.55937 -5.90625,-5.90625v-21.65625c0,-9.25313 3.54375,-17.91562 9.84375,-24.60937l53.35312,-56.50313c5.31563,-5.5125 4.92188,-14.175 -0.59062,-19.49062c-2.75625,-2.55937 -6.10312,-3.9375 -9.84375,-3.74062c-3.74062,0.19688 -7.0875,1.575 -9.64687,4.33125l-26.57812,28.15312c-2.16563,2.16562 -5.70938,2.55937 -8.07188,0.59062c-2.3625,-1.96875 -2.95312,-5.5125 -1.18125,-7.875c2.75625,-3.74062 5.5125,-7.48125 8.26875,-10.63125l49.41563,-57.09375c5.70938,-6.49687 4.92188,-16.5375 -1.575,-22.24687c-6.49687,-5.70938 -16.5375,-4.92187 -22.24687,1.575l-49.41563,57.09375c-0.98437,1.18125 -2.16562,2.55938 -3.15,3.74062l-0.39375,0.39375c-1.96875,2.3625 -5.31563,2.95313 -7.875,1.18125c-2.55937,-1.77187 -3.34688,-5.11875 -1.77187,-7.67812c3.54375,-6.49688 7.48125,-12.6 11.41875,-18.50625l36.42188,-52.36875c2.3625,-3.54375 3.34687,-7.67812 2.55937,-11.8125c-0.7875,-4.13437 -2.95312,-7.67812 -6.49687,-10.2375c-3.54375,-2.3625 -7.67813,-3.34688 -11.8125,-2.55937c-4.13438,0.7875 -7.67813,2.95312 -10.2375,6.49687l-36.02813,52.36875c-1.77187,2.55937 -3.74062,5.31562 -5.70937,8.6625c-1.77187,2.75625 -5.11875,3.54375 -7.875,1.96875c-2.75625,-1.575 -3.74062,-5.11875 -2.3625,-7.875l20.27813,-38.98125c1.96875,-3.74062 2.3625,-8.07187 0.98438,-12.00937c-1.18125,-3.9375 -3.9375,-7.28438 -7.67812,-9.25312c-3.74063,-1.96875 -8.07188,-2.3625 -12.00938,-0.98437c-3.9375,1.18125 -7.28438,3.9375 -9.25313,7.67813l-20.475,39.17812c-13.3875,25.79062 -22.24688,53.55 -26.18438,82.49062c-0.39375,3.15 -3.34687,5.5125 -6.69375,5.11875c-3.15,-0.39375 -5.5125,-3.34688 -5.11875,-6.69375c4.13438,-30.31875 13.3875,-59.25937 27.5625,-86.23125l20.475,-39.375c3.34687,-6.49687 9.05625,-11.41875 16.14375,-13.58438c7.0875,-2.16563 14.56875,-1.575 21.06563,1.77187c6.49687,3.34688 11.41875,9.05625 13.58437,16.14375c0.59063,1.77188 0.98438,3.54375 1.18125,5.5125l8.85938,-12.79687c4.13437,-6.10312 10.43437,-10.04062 17.71875,-11.41875c7.28438,-1.37812 14.56875,0.39375 20.67188,4.52812c6.10312,4.13437 10.04062,10.43438 11.41875,17.71875c0.98438,5.90625 0.19688,11.61562 -2.3625,16.93125c10.04063,-6.3 23.23125,-5.5125 32.48438,2.55937c11.41875,9.84375 12.79688,27.36563 2.95313,38.78438l-20.08125,23.42812c6.3,0.19688 12.20625,2.55937 16.93125,6.89063c10.2375,9.64687 10.63125,25.9875 0.98438,36.225l-53.35312,56.50312c-4.13438,4.52813 -6.49688,10.2375 -6.49688,16.34063v21.65625c-0.19688,3.54375 -2.75625,6.10312 -6.10313,6.10312z" fill="#34495e"></path><g fill="#ffffff"><path d="M81.30937,224.4375h91.54688c10.04063,0 18.1125,-8.07187 18.1125,-18.1125v-180.53437c0,-9.84375 -8.07187,-17.91562 -18.1125,-17.91562h-93.7125c-10.04063,0 -18.1125,8.07187 -18.1125,18.1125l0.59063,178.95938c0,10.63125 8.85937,19.49062 19.6875,19.49062z"></path></g><g fill="#71c2ff" opacity="0.2"><path d="M73.63125,116.94375c6.49688,-7.28437 17.71875,-8.07188 25.00312,-1.575c7.28437,6.49687 8.07188,17.71875 1.575,25.00312l-8.46562,9.25313c-6.10313,7.0875 -10.43438,13.97812 -13.19063,20.86875c2.55938,0.59063 5.31563,0.7875 8.07188,0.7875c24.01875,0 43.3125,-19.29375 43.3125,-43.3125c0,-24.01875 -19.29375,-43.3125 -43.3125,-43.3125c-9.84375,0 -18.70312,3.15 -25.9875,8.6625l0.19687,38.19375c1.575,-1.77187 2.95313,-3.54375 4.52813,-5.31562z"></path></g><g fill="#71c2ff"><circle cx="64" cy="101" transform="scale(1.96875,1.96875)" r="5"></circle></g><g fill="#34495e"><g><path d="M28.54688,250.03125c-2.75625,0 -5.11875,-1.77188 -5.70938,-4.52812c-9.84375,-42.72188 2.55937,-83.08125 38.19375,-123.24375l8.26875,-9.25313c4.13437,-4.725 10.04062,-7.48125 16.34062,-7.875c6.3,-0.39375 12.40312,1.77187 17.12813,5.90625c4.725,4.13438 7.48125,10.04063 7.875,16.34063c0.39375,6.3 -1.77188,12.40312 -5.90625,17.12813l-8.46563,9.05625c-18.50625,20.86875 -20.08125,41.93437 -5.11875,67.92188c1.575,2.75625 0.59063,6.49687 -2.16562,8.07187c-2.75625,1.575 -6.49688,0.59063 -8.07188,-2.16562c-17.71875,-30.7125 -15.75,-56.7 6.49687,-81.70312l8.26875,-9.25313c2.16563,-2.3625 3.15,-5.31563 2.95313,-8.46562c-0.19688,-3.15 -1.575,-6.10313 -3.9375,-8.07188c-2.3625,-2.16563 -5.31563,-3.15 -8.46563,-2.95312c-3.15,0.19688 -6.10312,1.575 -8.07187,3.9375l-8.26875,9.25312c-32.87812,37.0125 -44.49375,74.025 -35.4375,112.6125c0.7875,3.15 -1.18125,6.3 -4.33125,7.0875c-0.7875,0.19688 -1.18125,0.19688 -1.575,0.19688z"></path></g></g><g fill="#71c2ff"><path d="M172.26563,230.34375h-63.39375c-3.34687,0 -5.90625,-2.55937 -5.90625,-5.90625c0,-3.34688 2.55938,-5.90625 5.90625,-5.90625h63.39375c6.69375,0 12.20625,-5.5125 12.20625,-12.20625v-180.3375c0,-6.69375 -5.5125,-12.20625 -12.20625,-12.20625h-93.7125c-6.69375,0 -12.20625,5.5125 -12.20625,12.20625v68.31563c0,3.34688 -2.55938,5.90625 -5.90625,5.90625c-3.34688,0 -5.90625,-2.55937 -5.90625,-5.90625v-68.31563c0,-13.19062 10.63125,-24.01875 24.01875,-24.01875h93.90937c13.19063,0 24.01875,10.82813 24.01875,24.01875v180.53438c-0.19687,12.99375 -11.025,23.82187 -24.21562,23.82187z"></path></g></g></g></g></svg>
              <h3><span>M</span>obile applications</h3>
              <p>Not just mobile apps, we build user-friendly mobile experience on iOS and Android platforms.We have developed Awesome apps for our clients.Apps that resolve real-life problems, that got featured over store, and generate revenue.we have expertise in:<br><br>
               Android<br>
			   IOS<br>
			   Hybrid & Universal Applications<br>
			   React & Angular Native<br>
			   Ionic<br>
			   Electrode.io<br>
			   Next.js<br>
			   Tizen
              </p>
              <!-- <a href="">learn more...</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mar-bottom">
            <div class="service-item">
              <img src="https://png.icons8.com/dusk/100/2980b9/bullish.png" height="107px">
              <h3><span>D</span>igital Marketing</h3>
              <p>Enhance your reach and influence more clients to fall for you with our very much arranged and marketing solutions.As a one-stop office digital marketing agency, you can rely on Top Rank Marketing for specialized marketing consulting services that include:<br><br>
              	Search Engine Optimization<br>
				Copy-writing and Content Marketing<br>
				Social Media Marketing<br>
				Website Analytics<br>
				Online Reputation Management<br>
				Conversion Rate Optimization<br>
				App Store Optimization<br>
				Pay Per Click Advertising<br>
              </p>
              <!-- <a href="">learn more...</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mar-bottom">
            <div class="service-item">
              <img src="https://png.icons8.com/dusk/100/2980b9/shopping-cart.png">
              <h3><span>E</span>-commerce Solutions</h3>
              <p>Now days it is trending. Directly you connect the cloud services to your own application. Here are few services we integrate with different kind of applications:<br><br>
              	Shopify<br>
				Magento<br>
				Sharetribe<br>
				Woocommerce less</p>
              <!-- <a href="">Learn more...</a> -->
            </div>
          </div>
        </div>
      </div>
    </section>