<p>
	Hi,<br>
</p>

<p>A message has been sent by user</p>
<p>
	 Name: <%=@contact["name"]%><br>
	 Email: <%=@contact["email"]%> <br>
	 Message: <%= @contact["message"]%>
</p>

<p>Regards,<br>
Codegaragetech</p>